html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
}

body {
    margin: 1em;
}

.button_bar {
    margin: 0 auto;
    width: 20em;
    gap: 0.5em;
    display: grid;
}

#status_bar {
    display: table;
    gap: 0.5em;
}

#status_bar .tr {
    display: table-row;
}

#status_bar .tr>div {
    display: table-cell;
    background-color: darkgray;
    color: white;
    /* border: none; */
    border-bottom-style: solid;
    border-bottom-width: 0.3em;
    border-bottom-color: darkgrey;
    font-size: 1rem;
    width: 35%;
    padding: 1em;
    margin: 0.5em;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1em 5em;
    font-size: 1.5rem;
    border-radius: 0.5em;
    cursor: pointer;
}

.upside_down {
    transform: rotate(180deg);
}

.stopbutton {
    background-color: firebrick;
    border-radius: 1em;
}

.bLevel_good {
  border-bottom-color: darkgreen !important;
}
.bLevel_medium {
  border-bottom-color: #ffe605ff !important;
}
.bLevel_low {
  border-bottom-color: #c34212 !important;
}
.bLevel_poor {
  border-style: dashed !important;
  border-width: 0.25em !important;
  border-color: red !important;
}
